@model IEnumerable<Employee>?

<section class="text-black">

    <h1 class="m-3 mainHeaderDetails" style="font-size: calc(2.5rem + 3vw);">STAFF MANAGEMENT</h1>

    @if (Model?.Count() == 0)
    {
        <p class="text-center">
            Nothing to display
        </p>
    }
    else
    {       
        <section class="album">
            @foreach (var person in Model)
            {
                string photoPath = "~/images/" + (person.PhotoPath ?? "NoImage.jpg");

                <div class="photo">
                    <div class="imgBox">
                        <img src="@photoPath" asp-append-version="true" />
                    </div>
                    <div class="details">
                        <h2>@person.SurName @person.FirstName</h2>
                        <div>
                            <span>@person.Unit</span> <br>
                            <span>@person.Email</span> <br>
                            
                            <div class="m-3" style="display:flex; flex-direction:row; gap:3px; align-items:center; justify-content:center;">
                                <div>
                                    <a class="btn btn-primary" asp-controller="Employee" asp-action="Details" asp-route-id="@person.Id">View</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning text-secondary" asp-controller="Employee" asp-action="Edit" asp-route-id="@person.Id">Edit</a>
                                </div>
                                <div>
                                    <a class="btn btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-id="@person.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
    }
</section>